<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Eat Da Burger!</title>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <!-- My CSS -->
    <link rel="stylesheet" href="assets/css/burger_style.css" type="text/css" />
</head>

<body>
    <center>
        <img src="assets/img/burger.png" width="100">
        <h2 class="text-center">Eat-Da-Burger!</h2>
    </center>
    <hr>

    {{{ body }}}

    <hr>
    <center>
    <a href="/api/customers" target="_blank">Customers</a> | <a href="/api/burgers" target="_blank">Burgers</a>
        | <a href="/">Home</a>
    </center>
    <footer>
        <hr>
        <h6 class="text-center">&copy; Copyright 2020 Pamela L. Kelly</h6>
    </footer>
    <!-- jQuery, javascript file for the Bootstrap's javascript file to function -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <!-- My JS file -->
    <script src="assets/js/burgers.js"></script>
</body>

</html>